# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Data files (Project Root)
data/adrf/*
!data/adrf/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/raw_data/*
!data/raw_data/.gitkeep
data/raw_docs/*
!data/raw_docs/.gitkeep
data/summaries/*
!data/summaries/.gitkeep
output.adrf.parquet
stats.json

# Ignore accidentally created data in source folders
src/processing/data/

# IDE / Editor specific
.vscode/
.idea/

docs/
